.home{
  background: url("../../../assets/background-img.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
}

.center{
  min-width: 100vw;
  vertical-align: middle;
}

.large-text{
  display: block;
  margin: 0 auto;
}
